$border-color: #d9d9d9;

$border-radius: 4px;

$button-h: 32px;
$button-color: #333;
$button-blue: #40a9ff;
$button-danger-background: red;
$button-disabled-color: grey;
$button-font-level-color: white;
$button-themed-border-color: transparent;

$message-background: white;

$tabs-blue: #40a9ff;
$tabs-font-color: #333;

$banner-a-background: #02bcb0;
$banner-font-color: #436BF8;
//$banner-font-color: #007974;

$body-font-color: #2F2F2F;
//$body-font-color: #1d2c40;
$topNav-font-color: #476FF8;
//$topNav-font-color: #007974;

$features-font-color: #2F2F2F;
$sub-features-font-color: #A9A9A9;

$link-hover-color: #f3a455;